@media(min-width:0) and (max-width:1024px){


    .carousel3d {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .carousel3d-item {
        margin:15px;

    }
    .carousel3d-options {
        display:none;
    }
}
@media(min-width:1025px) {
    #about-view {
        height: 900px;
    }
    .carousel3d-options {
        display:block;
        text-align:center;
    }
    .carousel3d-options button {
        width:100px;
    }
    .scene {
        position: relative;
        perspective: 1500px;
        height: 500px;
        width: 1024px;
        margin: auto;
    }
    .carousel3d {
        position:absolute;
        top:0;
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform:translateZ(-483px);
        transition: transform 1s;
    }

    .carousel3d-item {
        position:absolute;
        /*width:380px;*/
        width:650px;
        
    }

}
