.simple-event-container {
    
    padding-top:60px;
}
.calendar-title {
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:1.5em;
}

.calendar-title h2 {
    width:120px;
}

.calendar-navigation {
    margin-left:1.5rem;
}
.calendar-table {
    width:100%;
    padding:1rem;
    height:calc(100vh - ((120px + 60px) + 10em ) )
}
.calendar-table td {
    padding:1rem;
    border:1px solid #ccc;
    width:14.29%;
    color:#1f2020;
    vertical-align:top;
}

.w-100 {
    width:100%;
}

.calendar-over-month {
    opacity:0.5;
}

.color {
    display:inline-block;
    width:10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(202, 66, 214)
}

.calendar-day {
    text-align:center;
}

.calendar-evt-container {
    padding:10px;
    text-align: center;
}

.calendar-evt {
    margin-top:1rem;
}

.calendar-btn {
    padding: 0.5rem;
    line-height: 0.5rem;
    border-radius: 3px;
    background:hsl(204, 86%, 53%);
    color:#fff;
    margin: 0.3rem;
    text-decoration: none;

    box-shadow: 0 6px 10px 0 #0000001a,0 1px 0 #0000001a,0 3px -2px #0003;
}

.calendar-btn:hover {
    text-decoration:none;
}

.calendar-btn-add {
    padding:0;
    display:block;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align:center;

    text-decoration: none;
    position: absolute;
    right: 2em;
}

.day-light {
    padding: 0.5rem;
    border-radius: 100%;
    border: 2px solid hsl(141, 53%, 53%);
}